
.cart-wrap { position: relative; max-width: 300px; width: 100%; height: auto; }
.cart-wrap .cart { display: flex; align-items: center; justify-content: center; height: 100%;}
.cart-wrap .cart img { position: relative; width: 100%; height: 100%; object-fit: contain;}
.cart-wrap .cart::before { content: attr(data-count); position: absolute; top: 0; right: -15px; width: 60px; height: 60px; background: #FADA5E; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 22px; line-height: 60px; font-weight: bold; text-align: center;  color: #333; border-radius: 50%;z-index: 999;  }

.btn-wrap { display: flex; align-items: center; justify-content: space-between; gap: 5px; margin: 5px 0 0 0;}

button { background: #333;}